[submodule "rpi_ws281x"]
	path = server/rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x.git
[submodule "server/rgb-matrix"]
	path = server/rgb-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
